:root {
  --fg: #222222;
  --bg: #ffffff;
  --bg-active: #f0f0f0;
  --fg-dim: #999999;
  --fg-light: #cccccc;
  --border: #cccccc;
  --highlight: #B2B0FF;
}

body {
  font-family: system-ui, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--fg);
  background-color: var(--bg);
}

#popup {
  width: 320px;
  padding: 23px 4px 0;
}

#extension-list {
  list-style-type: none;
  border-top: 1px dotted var(--border);
  padding: 0;
}

#extension-list li {
  display: flex;
  align-items: center;
  padding: 5px 9px 5px 5px;
  border-bottom: 1px dotted var(--border);
  border-left: 3px solid transparent;
  height: 18px;
  position: relative;
}

#extension-list li.selected {
  border-left-color: var(--highlight);
}

#extension-list li.hidden {
  display: none;
}

.extension-name {
  text-overflow: ellipsis;
}

li.enabled a {
  color: var(--fg);
  text-decoration: none;
}

.extension-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.disabled .extension-icon {
  filter: grayscale(100%) opacity(0.4);
}

#extension-list li.active {
  background-color: var(--bg-active);
}

#extension-list li.disabled {
  color: var(--fg-dim);
}

#search {
  width: calc(100% - 4px);
  height: 35px;
  padding: 10px;
  margin: 1px 2px;
  box-sizing: border-box;
  border: none;
  background-color: var(--bg);
  color: var(--fg);
}

::-webkit-input-placeholder {
  color: var(--fg-light);
}

.search-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#extension-list li .buttons {
  position: absolute;
  display: none;
}

#extension-list li:hover .buttons,
#extension-list li.active .buttons {
  display: flex;
  right: 2px;
}

.d-none {
  display: none;
}

button {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 1px 5px;
}

#extension-list li:hover button {
  background-color: var(--bg);
}

#extension-list li.active button {
  background-color: var(--bg-active);
}

button img, .check img {
  width: 18px;
  height: 18px;
  margin-top: 2px;
  filter: invert(34%) sepia(46%) saturate(44%) hue-rotate(201deg) brightness(96%) contrast(148%);
}

button:hover img {
  filter: invert(34%) sepia(46%) saturate(1000%) hue-rotate(201deg) brightness(85%) contrast(148%);
}

.check {
  padding: 0.8px 0;
}

.reload {
  margin-top: 3.6px;
  margin-right: 6px;
}

.reload img {
  width: 20px;
  height: 20px;
  animation: rotateArrow 0.9s forwards, fadeOut 0.5s 0.9s forwards;
  filter: invert(34%) sepia(46%) saturate(44%) hue-rotate(201deg) brightness(96%) contrast(148%);
}

@keyframes rotateArrow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-220deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

section {
  padding: 5px 15px 20px;
}

section input#external-url {
  width: calc(100% - 10px);
}

section button {
  padding: 3px 6px;
  border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #d0d0d0;
    --bg: #202124;
    --bg-active: #161719;
    --fg-dim: #777777;
    --fg-light: #555555;
    --border: #555555;
    --highlight: #6556E8;
  }
  button img {
    filter: invert(34%) sepia(46%) saturate(44%) hue-rotate(201deg) brightness(60%) contrast(148%);
  }
  button:hover img {
    filter: invert(34%) sepia(46%) saturate(1100%) hue-rotate(201deg) brightness(72%) contrast(218%);
  }
}
